
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Maralll77 will be requested for
# review when someone opens a pull request.
* @Viper-Bit @Maralll77
